@charset "utf-8";

/* 헤더 */
header {
  border-bottom: 0.5px solid #00000005;
}

/* 건강 가이드 섹션 */

.hospital_sec {
  width: 100%;
  height: 830px;
}

.hospital_con {
  width: 1306px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 40px;
}

.hospital_lefttext {
  width: 265px;
  height: 291px;
}

.logo_text {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo_text h1 {
  margin-right: 20px;
}

.logo_text .search {
  width: fit-content;
  height: fit-content;
  background-color: #ffffff2e;
  border: 0.5px solid #dedede85;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px 10px;
}

.search a {
  font-size: 14px;
  color: #000000a8;
  display: flex;
  align-items: center;
  line-height: 13px;
}

.search .icon9 {
  width: 9px;
  height: 9px;
  background: url("/img/sub1_img/sub1_sprites.png") -150px -10px;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.move_page {
  width: fit-content;
  height: fit-content;
}

.move_page .move_pagetext {
  width: fit-content;
  height: fit-content;
  margin-bottom: 15px;
}

.move_pagetext a {
  font-size: 16px;
  color: #000000a8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.move_page .icon10 {
  width: 20px;
  height: 20px;
  background: url("/img/sub1_img/sub1_sprites.png") -110px -50px;
  margin-right: 10px;
  background-repeat: no-repeat;
}

.move_page .icon11 {
  width: 20px;
  height: 20px;
  background: url("/img/sub1_img/sub1_sprites.png") -110px -90px;
  margin-right: 10px;
  background-repeat: no-repeat;
}
.move_page .icon12 {
  width: 20px;
  height: 20px;
  background: url("/img/sub1_img/sub1_sprites.png") -110px -10px;
  margin-right: 10px;
  background-repeat: no-repeat;
}
.move_page .icon13 {
  width: 20px;
  height: 20px;
  background: url("/img/sub1_img/sub1_sprites.png") -110px -130px;
  margin-right: 10px;
  background-repeat: no-repeat;
}

.btn button {
  font-size: 14px;
  width: 265px;
  height: 26px;
  color: #000000a8;
  background-color: #f4f4f485;
  border: 0.5px solid #dedede85;
  border-radius: 4px;
  font-family: "Noto Sans KR", sans-serif;
}

.user_info {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  gap: 10px;
}

.user_info a {
  width: fit-content;
  height: 36px;
  font-size: 14px;
  color: #000000a8;
  box-sizing: border-box;
  padding: 11px;
  background-color: #ffffff2e;
  border: 0.5px solid #dedede85;
  border-radius: 4px;
}

/* 가운데 병원 과목 선택 box 섹션 */
.middle_subject {
  width: fit-content;
  height: 830px;
  box-sizing: border-box;
  padding: 15px;
}

.middle_subject .top {
  width: fit-content;
  height: fit-content;
}

.top > p {
  font-size: 14px;
  color: #aeb3be;
}

.top .Find_hospital {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.top > .Find_hospital > h3 {
  font-size: 30px;
  color: #000;
  font-weight: bold;
}

/* 가운데 병원 과목 선택 box 섹션 */
.middle_subject {
  width: 711px;
  height: fit-content;
  /* background-color: aliceblue; */
}

.subject_gather > p {
  font-size: 14px;
  color: #aeb3be;
  margin-top: 40px;
  margin-bottom: 10px;
}

.subject_gather > h3 {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

.subject_gather > .box_gather > .boxs {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 20px;
}
.subject_gather > .box_gather .hide {
  display: none;
}
.box_gather > .boxs > .box {
  width: 100px;
  height: 100px;
  background-color: #fff;
  box-sizing: border-box;
  border: 0.5px solid #dedede;
  border-radius: 8px;
}

.box_gather > .boxs > .box a {
  width: fit-content;
  height: fit-content;
  display: block;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  padding: 16px 0px;
}

.box_gather > .boxs > .box div {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.subject_gather > .box_gather {
  width: 681px;
  height: auto;
  margin-top: 40px;
}

.subject_gather > .box_gather > .boxs {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  column-gap: 16px;
  row-gap: 20px;
}

.subject_gather > .box_gather .hide {
  display: none;
}
.box_gather > .boxs > .box {
  width: 100px;
  height: 100px;
  background-color: #fff;
  box-sizing: border-box;
  border: 0.5px solid #dedede;
  border-radius: 8px;
}

.box_gather > .boxs > .box a {
  width: fit-content;
  height: fit-content;
  display: block;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  padding: 16px 0px;
}

.box_gather > .boxs > .box div {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

/* 마우스 클릭시 보여야 하는 박스들 */
.subject_gather > .box_gather .hide_box {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: 20px;
  display: none;
}

.box_gather .hide_box > .box {
  width: 100px;
  height: 100px;
  background-color: #fff;
  box-sizing: border-box;
  border: 0.5px solid #dedede;
  border-radius: 8px;
}

.box_gather .hide_box > .box a {
  width: fit-content;
  height: fit-content;
  display: block;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  padding: 16px 0px;
}

.box_gather .hide_box > .box div {
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.box_gather > .boxs > .box .hospital1_icon {
  background: url(/img/sprites.png) -257px -80px;
  background-repeat: no-repeat;
}

.box_gather > .boxs > .box .hospital2_icon {
  background: url(/img/sprites.png) -150px -180px;
  background-repeat: no-repeat;
}

.box_gather > .boxs > .box .hospital3_icon {
  background: url(/img/sprites.png) -10px -250px;
  background-repeat: no-repeat;
}

.box_gather > .boxs > .box .hospital4_icon {
  background: url(/img/sprites.png) -257px -150px;
  background-repeat: no-repeat;
}

.box_gather > .boxs > .box .hospital5_icon {
  background: url(/img/sprites.png) -80px -250px;
  background-repeat: no-repeat;
}

.box_gather > .boxs > .box .hospital6_icon {
  margin: 0 auto;
  background: url(/img/sprites.png) -220px -250px;
  background-repeat: no-repeat;
}

.box_gather > .boxs > .box .hospital7_icon {
  background: url(/img/sprites.png) -150px -250px;
  background-repeat: no-repeat;
}

.box_gather > .boxs > .box .hospital8_icon {
  background: url(/img/sprites.png) -10px -180px;
  background-repeat: no-repeat;
}

.box_gather > .boxs > .box .hospital9_icon {
  background: url(/img/sprites.png) -327px -80px;
  background-repeat: no-repeat;
}

.box_gather > .boxs > .box .hospital10_icon {
  background: url(/img/sprites.png) -327px -150px;
  background-repeat: no-repeat;
}

.box_gather > .boxs > .box .hospital11_icon {
  background: url(/img/sprites.png) -327px -10px;
  background-repeat: no-repeat;
}

.box_gather > .boxs > .box .hospital12_icon {
  background: url(/img/sprites.png) -80px -180px;
  background-repeat: no-repeat;
}

/* 마우스 클릭시 보여야 하는 박스들 */
.box_gather .hide_box > .box .hospital13_icon {
  background: url("/img/sub1_img/sub1_sprites3.png") -150px -80px;
  background-repeat: no-repeat;
}

.box_gather .hide_box > .box .hospital14_icon {
  background: url("/img/sub1_img/sub1_sprites3.png") -10px -80px;
  background-repeat: no-repeat;
}

.box_gather .hide_box > .box .hospital15_icon {
  background: url("/img/sub1_img/sub1_sprites3.png") -10px -10px;
  background-repeat: no-repeat;
}

.box_gather .hide_box > .box .hospital16_icon {
  background: url("/img/sub1_img/sub1_sprites3.png") -80px -10px;
  background-repeat: no-repeat;
}

.box_gather .hide_box > .box .hospital17_icon {
  background: url("/img/sub1_img/sub1_sprites3.png") -150px -10px;
  background-repeat: no-repeat;
}

.box_gather .hide_box > .box .hospital18_icon {
  background: url("/img/sub1_img/sub1_sprites3.png") -80px -80px;
  background-repeat: no-repeat;
}

.box_gather > .boxs > .box a p {
  font-size: 12px;
  color: #aeb3be;
  margin-top: 5px;
}

.box_gather .hide_box > .box a p {
  font-size: 12px;
  color: #aeb3be;
  margin-top: 5px;
}

/* 더보기 버튼 */
.box_gather > .show_btn {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  border: 0.5px solid #dedede;
  border-radius: 4px;
  background-color: #ffffff2e;
  font-size: 14px;
  color: #000000cf;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
}

/* 닫기 버튼 */
.box_gather > .hide_btn {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  border: 0.5px solid #dedede;
  border-radius: 4px;
  background-color: #ffffff2e;
  font-size: 14px;
  color: #000000cf;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
  display: none;
}

/* 어떻게 아프신가요? 카테고리 */
.middle_subject > .category {
  width: fit-content;
  height: fit-content;
  margin-top: 40px;
}

.middle_subject > .category h3 {
  font-size: 20px;
  font-weight: bold;
  color: #000;
  margin-bottom: 15px;
}

.category > .category_box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.category > .category_box span {
  width: fit-content;
  height: 26px;
  border-radius: 4px;
  border: 0.5px solid #dedede;
  box-sizing: border-box;
  padding: 6px 10px;
  font-size: 14px;
  color: #000000a8;
  background-color: #ffffff2e;
  cursor: pointer;
}

/* 검색 창 */

.search-box form {
  width: 320px;
  height: 25px;
  border-radius: 4px;
  border: 0.5px solid #dedede;
  background-color: #ffffff2e;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-box input {
  width: 80%;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 10px;
  font-family: "Noto Sans KR", sans-serif;
  color: #000;
}

.search-box input::placeholder {
  color: #aeb3be75;
  font-size: 14px;
}

.search-box form .search_icon {
  width: 9px;
  height: 9px;
  background: url(/img/sub1_img/sub1_sprites.png) -150px -10px;
  background-repeat: no-repeat;
  margin-right: 10px;
}

/* 인기 검색어 카테고리 */
.middle_subject > .best_category {
  width: fit-content;
  height: fit-content;
  margin-top: 40px;
}

.middle_subject > .best_category h3 {
  font-size: 14px;
  color: #000000a8;
  margin-bottom: 15px;
}

.best_category > .category_box2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.best_category > .category_box2 span {
  width: fit-content;
  height: 26px;
  border-radius: 4px;
  border: 0.5px solid #dedede;
  box-sizing: border-box;
  padding: 6px 10px;
  font-size: 14px;
  color: #000000a8;
  background-color: #ffffff2e;
  cursor: pointer;
}

/* 오른쪽 섹션 */

.right {
  width: fit-content;
  width: fit-content;
}

.right_top {
  width: 200px;
  height: 250px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 15px;
  background-color: #fffef8;
  border: 0.5px solid #dedede;
  border-radius: 8px;
}

.right_top h3 {
  font-size: 12px;
  color: #000;
  line-height: 16px;
  margin-bottom: 5px;
}

.right_top p {
  font-size: 10px;
  color: #00000087;
  margin-bottom: 5px;
}

.right_top a {
  font-size: 10px;
  color: #000000b8;
}

.right_top > .app_img > div {
  width: 80px;
  height: 150px;
  background: url("/img/sub1_img/sub1_sprites2.png") -110px -10px;
  margin: 0 auto;
  margin-top: 12px;
}

.right_bottom {
  width: fit-content;
  height: fit-content;
  margin-top: 40px;
}

.right_bottom > h3 {
  font-size: 20px;
  color: #000;
  margin-bottom: 15px;
}

.right_bottom1 {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.right_bottom > .right_bottom1 > .icon10 {
  width: 11px;
  height: 11px;
  background: url("/img/sub1_img/sub1_sprites2.png") -210px -99px;
  margin-right: 5px;
}

.right_bottom > .right_bottom1 > p {
  font-size: 15px;
  color: #000000a8;
}

/* 관련 페이지로 이동하는 a태그들에게 마우스 오버시 */
.move_pagetext a:hover {
  font-weight: bold;
  color: #000;
  transition: 0.3s;
}

/* 검색 버튼과 , 내 정보 보기, 로그인 하기 버튼 오버시 */
.logo_text .search:hover,
.user_info a:hover {
  background-color: #d2d2d21f;
  transition: 0.3s;
}

/* 앱 다운로드 버튼 오버시 */
.btn button:hover {
  background-color: #f4f4f4;
  transition: 0.3s;
}

/* 과목 박스에 오버시 */
.box_gather > .boxs > .box:hover,
.box_gather .hide_box > .box:hover {
  background-color: #d2d2d21f;
  transition: 0.3s;
}

/* 더보기 버튼, 닫기 버튼 오버시 */
.box_gather > .show_btn:hover,
.box_gather > .hide_btn:hover {
  background-color: #f4f4f4;
  transition: 0.3s;
}

/* 지금 다운로드 받기 버튼 오버시 */
.right_top > a:hover {
  font-weight: bold;
  transition: 0.3s;
}

/* 실시간 상담 베스트 내용 오버시 */
.right_bottom .right_bottom1 p:hover {
  font-weight: bold;
  color: #000;
  transition: 0.3s;
  cursor: default;
}
