@charset "utf-8";

/* 헤더 */
header {
  border-bottom: 0.5px solid #00000005;
}

/* 통합 검색창 섹션 섹션 */
.search_sec {
  width: 100%;
  height: auto;
}

.search_con {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 110px;
}

.searchpage_lefttext {
  width: 265px;
  height: 291px;
}

.logo_text {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo_text h1 {
  margin-right: 20px;
}

.logo_text .search {
  width: fit-content;
  height: fit-content;
  background-color: #ffffff2e;
  border: 0.5px solid #dedede85;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 5px 10px;
}

.search a {
  font-size: 14px;
  color: #000000a8;
  display: flex;
  align-items: center;
  line-height: 13px;
}

.search .icon9 {
  width: 9px;
  height: 9px;
  background: url("../../img/sub1_img/sub1_sprites.png") -150px -10px;
  background-repeat: no-repeat;
  margin-right: 5px;
}

.move_page {
  width: fit-content;
  height: fit-content;
}

.move_page .move_pagetext {
  width: fit-content;
  height: fit-content;
  margin-bottom: 15px;
}

.move_pagetext a {
  font-size: 16px;
  color: #000000a8;
  display: flex;
  align-items: center;
  justify-content: center;
}

.move_page .icon10 {
  width: 20px;
  height: 20px;
  background: url("../../img/sub1_img/sub1_sprites.png") -110px -50px;
  margin-right: 10px;
  background-repeat: no-repeat;
}

.move_page .icon11 {
  width: 20px;
  height: 20px;
  background: url("../../img/sub1_img/sub1_sprites.png") -110px -90px;
  margin-right: 10px;
  background-repeat: no-repeat;
}
.move_page .icon12 {
  width: 20px;
  height: 20px;
  background: url("../../img/sub1_img/sub1_sprites.png") -110px -10px;
  margin-right: 10px;
  background-repeat: no-repeat;
}
.move_page .icon13 {
  width: 20px;
  height: 20px;
  background: url("../../img/sub1_img/sub1_sprites.png") -110px -130px;
  margin-right: 10px;
  background-repeat: no-repeat;
}

.btn button {
  font-size: 14px;
  width: 265px;
  height: 26px;
  color: #000000a8;
  background-color: #f4f4f485;
  border: 0.5px solid #dedede85;
  border-radius: 4px;
  font-family: "Noto Sans KR", sans-serif;
}

.user_info {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
  gap: 10px;
}

.user_info a {
  width: fit-content;
  height: 36px;
  font-size: 14px;
  color: #000000a8;
  box-sizing: border-box;
  padding: 11px;
  background-color: #ffffff2e;
  border: 0.5px solid #dedede85;
  border-radius: 4px;
}

/* 중간 검색창 섹션 */

.middle_searchbox {
  width: 600px;
  height: auto;
  box-sizing: border-box;
  padding: 15px;
}

.middle_searchbox .top {
  width: 100%;
  height: fit-content;
}

.top > p {
  font-size: 14px;
  color: #aeb3be;
}

/* 검색창 박스 */

.searchbox form {
  width: 100%;
  height: 50px;
  border-radius: 4px;
  border: 0.5px solid #dedede;
  background-color: #ffffff2e;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchbox input {
  width: 80%;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 10px;
  font-family: "Noto Sans KR", sans-serif;
  color: #000;
}

.searchbox input::placeholder {
  color: #aeb3be75;
  font-size: 14px;
}

.searchbox form .searchbox_icons {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-right: 10px;
}

/* 최근 검색어 섹션 */
.new_searchterm {
  width: 100%;
  height: 57px;
  margin-top: 40px;
}

.new_searchterm .new_searchterm_toptext {
  width: 100%;
  height: fit-content;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.new_searchterm .new_searchterm_toptext > h3 {
  font-size: 14px;
  color: #000000e3;
}

.new_searchterm .new_searchterm_toptext > h4 {
  font-size: 13px;
  color: #000000a8;
  cursor: default;
}

.new_searchterm .searchterm_undertext {
  width: 100%;
  height: fit-content;
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.searchterm_undertext .my_searchtermbox {
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  padding: 5px 10px;
  background-color: #ffffff2e;
  border: 0.5px solid #dedede85;
  border-radius: 4px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.searchterm_undertext .my_searchtermbox > p {
  font-size: 14px;
  color: #000000a8;
  box-sizing: border-box;
  padding-top: 1px;
}

/* 많이 검색 된 질병 */
.pain_searchterm {
  width: 100%;
  height: fit-content;
  margin-top: 40px;
}

.pain_searchterm h3 {
  font-size: 14px;
  color: #000000e3;
  margin-bottom: 15px;
}

.pain_searchterm > .pain_searchterm_box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.pain_searchterm > .pain_searchterm_box span {
  width: fit-content;
  height: 26px;
  border-radius: 4px;
  border: 0.5px solid #dedede85;
  box-sizing: border-box;
  padding: 6px 10px;
  font-size: 14px;
  color: #000000a8;
  background-color: #ffffff2e;
  cursor: default;
}

/* 많이 검색된 증상 */
.symptoms_searchterm {
  width: 100%;
  height: fit-content;
  margin-top: 40px;
}

.symptoms_searchterm > h3 {
  font-size: 14px;
  color: #000000e3;
  margin-bottom: 20px;
}

.symptoms_searchterm .symptoms_searchterm_order {
  width: 100%;
  height: fit-content;
}

.symptoms_searchterm .symptoms_searchterm_order .oder_text {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 20px;
}

.symptoms_searchterm_order .oder_text span {
  font-size: 14px;
  font-weight: bold;
  color: #000;
}

.symptoms_searchterm_order .oder_text p {
  font-size: 14px;
  color: #000000a8;
}

/* 오른쪽 섹션 */

.right {
  width: fit-content;
  width: fit-content;
}

.right_top {
  width: 200px;
  height: 250px;
  overflow: hidden;
  box-sizing: border-box;
  padding: 15px;
  background-color: #fffef8;
  border: 0.5px solid #dedede;
  border-radius: 8px;
}

.right_top h3 {
  font-size: 12px;
  color: #000;
  line-height: 16px;
  margin-bottom: 5px;
}

.right_top p {
  font-size: 10px;
  color: #00000087;
  margin-bottom: 5px;
}

.right_top a {
  font-size: 10px;
  color: #000000b8;
}

.right_top > .app_img > div {
  width: 80px;
  height: 150px;
  background: url("../../img/sub1_img/sub1_sprites2.png") -110px -10px;
  margin: 0 auto;
  margin-top: 12px;
}

.right_bottom {
  width: fit-content;
  height: fit-content;
  margin-top: 40px;
}

.right_bottom > h3 {
  font-size: 20px;
  color: #000;
  margin-bottom: 15px;
}

.right_bottom1 {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.right_bottom > .right_bottom1 > .icon10 {
  width: 11px;
  height: 11px;
  background: url("../../img/sub1_img/sub1_sprites2.png") -210px -99px;
  margin-right: 5px;
}

.right_bottom > .right_bottom1 > p {
  font-size: 15px;
  color: #000000a8;
}

/* 관련 페이지로 이동하는 a태그들에게 마우스 오버시 */
.move_pagetext a:hover {
  font-weight: bold;
  color: #000;
  transition: 0.3s;
}

/* 검색 버튼과 , 내 정보 보기, 로그인 하기 버튼 오버시 */
.logo_text .search:hover,
.user_info a:hover {
  background-color: #d2d2d21f;
  transition: 0.3s;
}

/* 앱 다운로드 버튼 오버시 */
.btn button:hover {
  background-color: #f4f4f4;
  transition: 0.3s;
}

/* 지금 다운로드 받기 버튼 오버시 */
.right_top > a:hover {
  font-weight: bold;
  transition: 0.3s;
}

/* 실시간 상담 베스트 내용 오버시 */
.right_bottom .right_bottom1 p:hover {
  font-weight: bold;
  color: #000;
  transition: 0.3s;
  cursor: default;
}
