/* 노트북 사이즈 */
@media screen and (min-width: 1440px) and (max-width: 1600px) {
  /* 헤더 */
  .hader_wrap {
    width: 100%;
  }

  header {
    box-sizing: border-box;
    padding: 0px 40px;
  }

  /* 풋터 */
  footer {
    height: auto;
    padding: 30px 20px 10px;
  }

  .foot {
    width: 100%;
  }

  .foot_manu a {
    margin-right: 30px;
    font-size: 14px;
  }

  .foot_manu a:last-child {
    margin-right: 0px;
  }
}

/* 노트북 미디엄 사이즈 */
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  /* 헤더 */
  .hader_wrap {
    width: 100%;
  }

  header {
    box-sizing: border-box;
    padding: 0px 40px;
  }

  /* 왼쪽 섹션 */
  .counsel_lefttext {
    width: 230px;
  }

  .logo_text h1 {
    font-size: 24px;
    margin-right: 15px;
  }

  .search a {
    font-size: 13px;
  }

  .btn button {
    width: 230px;
  }

  .user_info a {
    height: 34px;
    padding: 10px;
  }

  /* 중간 바로 질문하기 섹션 */
  .counsel_con {
    width: 1020px;
    gap: 18px;
    padding: 110px 22px 20px;
  }

  .middle_counsel {
    width: 478px;
  }

  /* 2차 메뉴 */
  .sel2 .subject_aake > .submenu {
    left: -23px;
  }

  .sel2 .subject_aake > .click_menu {
    left: -23px;
  }

  /* 오른쪽 섹션 */
  .right_bottom1 p {
    width: 216px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: break-all;
  }

  /* 풋터 */
  footer {
    height: auto;
    padding: 30px 40px 10px;
  }

  .foot {
    width: 100%;
  }

  .foot_manu a {
    margin-right: 50px;
  }

  .foot_manu a:last-child {
    margin-right: 0px;
  }
}

/* 테블릿 사이즈 */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* 헤더 */
  .hader_wrap {
    width: 100%;
  }

  header {
    box-sizing: border-box;
    padding: 0px 20px;
  }

  /* 중간 바로 질문하기 섹션 */
  .counsel_con {
    width: 100%;
    padding: 110px 22px 20px;
    flex-direction: column;
  }

  .middle_counsel {
    width: 478px;
    margin: 0 auto;
  }

  /* 왼쪽 섹션 */
  .counsel_lefttext {
    width: 100%;
    height: auto;
  }

  .logo_text {
    display: none;
  }

  .user_info {
    display: none;
  }

  .btn button {
    display: none;
  }

  .move_page {
    width: 66%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 24px;
    gap: 20px;
    margin: 0 auto;
  }

  .move_page .move_pagetext {
    width: calc(50% - 10px);
    margin-bottom: 0;
    box-sizing: border-box;
    padding: 11px;
    background-color: #ffffff2e;
    border: 0.5px solid #dedede85;
    border-radius: 4px;
    text-align: center;
  }

  .move_page .move_pagetext:hover {
    background-color: #d2d2d21f;
    transition: 0.3s;
  }

  .move_page .icon10,
  .move_page .icon11,
  .move_page .icon12,
  .move_page .icon13 {
    margin-right: 7px;
  }

  /* 2차 메뉴 */
  .sel2 .subject_aake {
    font-size: 13px;
  }

  .sel2 .subject_aake .click_menu {
    width: 430px;
    height: 730px;
    padding: 20px;
    position: absolute;
    bottom: 100px;
    left: -2%;
  }
  /* 
  .sel2 .subject_aake > .submenu {
    width: 430px;
    height: 810px;
    padding: 20px;
    position: absolute;
    bottom: 100px;
    left: 192%;
    transform: translate(-50%, 100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 9;
  }
 
  .sel2 .submenu.active {
    transform: translate(-50%, 0);
    opacity: 1;
  } */

  .sel2 .submenu > h2 {
    width: 100%;
    height: fit-content;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #00000099;
    padding-bottom: 12px;
  }

  .sel2 .submenu li,
  .sel2 .click_menu li {
    width: 100%;
    height: fit-content;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
  }

  .sel2 .submenu > li > .hospital > a,
  .sel2 .click_menu > li > .hospital > a {
    font-size: 18px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #000;
  }

  .sel2 .submenu > li > .hospital,
  .sel2 .click_menu > li > .hospital {
    width: 50%;
    height: fit-content;
  }

  .sel2 .submenu > h2,
  .sel2 .click_menu > h2 {
    font-size: 20px;
  }

  .sel2 .submenu li,
  .sel2 .click_menu li {
    height: 55px;
    gap: 80px;
  }

  .sel2 .submenu > li > .hospital > p,
  .sel2 .click_menu > li > .hospital > p {
    font-size: 14px;
  }

  /* 오른쪽 섹션 */
  .right {
    display: none;
  }

  /* 풋터 */
  footer {
    height: auto;
    padding: 30px 20px 10px;
  }

  .foot {
    width: 100%;
  }

  .foot_manu a {
    margin-right: 30px;
    font-size: 14px;
  }

  .foot_manu a:last-child {
    margin-right: 0px;
  }
}

/* 모바일 사이즈 */
@media screen and (min-width: 481px) and (max-width: 768px) {
  br.onlyPC {
    display: none;
  }

  /* 헤더 */
  .hader_wrap {
    width: 100%;
  }

  header {
    box-sizing: border-box;
    padding: 0px 20px;
  }

  .hader_wrap > nav > ul > li a {
    display: none;
  }

  /* 중간 바로 질문하기 섹션 */
  .counsel_con {
    width: 100%;
    flex-direction: column;
  }

  .middle_counsel {
    width: 478px;
    margin: 0 auto;
    padding: 15px;
  }

  /* 왼쪽 섹션 */
  .counsel_lefttext {
    width: 100%;
    height: auto;
  }

  .logo_text {
    display: none;
  }

  .user_info {
    display: none;
  }

  .btn button {
    display: none;
  }

  .move_page {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 24px;
    gap: 20px;
  }

  .move_page .move_pagetext {
    width: calc(50% - 10px);
    box-sizing: border-box;
    padding: 11px;
    background-color: #ffffff2e;
    border: 0.5px solid #dedede85;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 0;
  }

  .move_page .icon10,
  .move_page .icon11,
  .move_page .icon12,
  .move_page .icon13 {
    margin-right: 7px;
  }

  .move_page .move_pagetext:hover {
    background-color: #d2d2d21f;
    transition: 0.3s;
  }

  .notification > .notification_text {
    width: 100%;
  }

  /* 2차 메뉴 */
  .sel2 .subject_aake {
    font-size: 13px;
  }
  .sel2 .subject_aake .click_menu {
    width: 430px;
    height: 810px;
    padding: 20px;
    position: absolute;
    bottom: 100px;
    left: 96%;
    transform: translate(-25%, 0);
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 9;
  }

  /* 
  .sel2 .subject_aake > .submenu {
      width: 430px;
      height: 810px;
      padding: 20px;
      position: absolute;
      bottom: 100px;
      left: 96%;
      transform: translate(-25%, 100%);
      transition: transform 0.5s ease, opacity 0.5s ease;
      z-index: 9;
    }

  .sel2 .submenu.active {
    transform: translate(-25%, 0);
    opacity: 1;
  } */

  .sel2 .submenu > h2 {
    width: 100%;
    height: fit-content;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #00000099;
    padding-bottom: 12px;
  }

  .sel2 .submenu li,
  .sel2 .click_menu li {
    height: 55px;
    gap: 80px;
  }

  .sel2 .submenu > li > .hospital > p,
  .sel2 .click_menu > li > .hospital > p {
    font-size: 14px;
  }

  /* 오른쪽 섹션 */
  .right {
    display: none;
  }

  /* 풋터 */
  footer {
    height: auto;
    padding: 30px 20px 10px;
  }

  .foot {
    width: 100%;
    flex-direction: column;
  }

  .foot_manu a {
    margin-right: 25px;
    font-size: 12px;
  }

  .foot_manu a:last-child {
    margin-right: 0px;
  }

  .bottom_copy {
    font-size: 10px;
    margin-top: 25px;
  }
}

@media screen and (max-width: 480px) {
  br.onlyPC {
    display: none;
  }

  /* 헤더 */
  .hader_wrap {
    width: 100%;
  }

  header {
    box-sizing: border-box;
    padding: 0px 20px;
  }

  .hader_wrap > nav > ul > li a {
    display: none;
  }

  /* 중간 바로 질문하기 섹션 */
  .counsel_con {
    width: 100%;
    flex-direction: column;
  }

  .middle_counsel {
    width: 478px;
    margin: 0 auto;
    padding: 15px;
  }

  /* 왼쪽 섹션 */
  .counsel_lefttext {
    width: 100%;
    height: auto;
  }

  .logo_text {
    display: none;
  }

  .user_info {
    display: none;
  }

  .btn button {
    display: none;
  }

  .move_page {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 24px;
    gap: 20px;
  }

  .move_page .move_pagetext {
    width: calc(50% - 10px);
    box-sizing: border-box;
    padding: 11px;
    background-color: #ffffff2e;
    border: 0.5px solid #dedede85;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 0;
  }

  .move_page .icon10,
  .move_page .icon11,
  .move_page .icon12,
  .move_page .icon13 {
    margin-right: 7px;
  }

  .move_page .move_pagetext:hover {
    background-color: #d2d2d21f;
    transition: 0.3s;
  }

  .notification > .notification_text {
    width: 100%;
  }

  /* 2차 메뉴 */
  .sel2 .subject_aake {
    font-size: 13px;
  }

  /* .sel2 .subject_aake > .submenu {
    width: 430px;
    height: 810px;
    padding: 20px;
    position: absolute;
    bottom: 100px;
    left: 96%;
    transform: translate(-25%, 100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 9;
  } .sel2 .submenu.active {
    transform: translate(-25%, 0);
    opacity: 1;
  }*/

  .sel2 .subject_aake .click_menu {
    width: 430px;
    height: 810px;
    padding: 20px;
    position: absolute;
    bottom: 100px;
    left: 96%;
    transform: translate(-25%, 0);
    transition: transform 0.5s ease, opacity 0.5s ease;
    z-index: 9;
  }

  .sel2 .submenu > h2 {
    width: 100%;
    height: fit-content;
    font-size: 18px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #00000099;
    padding-bottom: 12px;
  }

  .sel2 .submenu li,
  .sel2 .click_menu li {
    height: 55px;
    gap: 80px;
  }

  .sel2 .submenu > li > .hospital > p,
  .sel2 .click_menu > li > .hospital > p {
    font-size: 14px;
  }

  /* 오른쪽 섹션 */
  .right {
    display: none;
  }

  /* 풋터 */
  footer {
    height: auto;
    padding: 30px 20px 10px;
  }

  .foot {
    width: 100%;
    flex-direction: column;
  }

  .foot_manu a {
    margin-right: 25px;
    font-size: 12px;
  }

  .foot_manu a:last-child {
    margin-right: 0px;
  }

  .bottom_copy {
    font-size: 10px;
    margin-top: 25px;
  }
}
